@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.pre-menu {
    background-color: #3d0070;
    min-height: 3em;
    position: relative;
}


.logo {
    max-width: 125px;
}

.current-selected-item {
    color: white !important;
    border: 1px solid coral;
    border-radius: 5px;
    background-color: coral;
}


.banner-mobile {
    display: none;
}

.centered-text {

    font-size: 1.5em;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.section {
    padding-bottom: 50px;
}

.feature-title {
    color: coral;
    font-weight: bold;
    padding-bottom: 1.5em;
}

.feature-description {
    font-size: 20px;
}
.games-on-campaign {
    font-size: 1em;
}
.campaign-games{
    padding-top: 15px;
}
.asmodee-quest{
    padding-top: 40px;
    max-width: 250px !important;
}

.asmodee-quest-description{
    padding-top: 1.5em;
}

.quest-sticker{
    max-width: 70px;
    padding-right: 5px;
}

.phone {
    font-size: 1em;
    padding-right: 10px;
}

.any-icon {
    padding-right: 12px;
}

.last-icon {
    font-size: 2em;
}


.pre-menu-content {
    color: white;
    padding-top: 10px;
}

.pre-menu-icon {
    color: white;
}

.pre-menu-icon:active {
    color: aquamarine;
}

.pre-menu-icon:hover {
    color: azure;
}

.feature-image {
    filter: brightness(0.50);
    border-radius: 10px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 20px;

}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;

}

.coral-text {
    color: coral;
}

.violet-text {
    color: #3d0070;
}

.price-text {
    font-size: 3em;
}

.discount-header {
    color: white !important;
    border: 1px solid #3d0070;
    border-radius: 5px;
    background-color: #3d0070;
    font-size: 2em;
}

.discount-body {
    margin-top: -1em;
    color: coral !important;
    border: 1px solid coral;
    border-radius: 5px;
    font-size: 1em;
    padding: 15px;
}


/* Responsive */
@media screen and (max-width: 600px) {
    .banner-mobile {
        display: inline;
        width: 100%;
    }

    .banner-desktop {
        display: none;
    }

    .any-icon {
        font-size: 1em !important;
        padding-right: 10px;
    }

    .last-icon {
        font-size: 1em !important;
    }

    .logo {
        max-width: 95px;
    }

    .feature-image {
        padding-top: 10px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;

    }

    .price-text{
        font-size: 1.5em;
    }

}
